/*@media screen and (max-width: 700px)*/


/*Gaby's Css*/
#logo {
  height: 120px;
}


.topnav {
  background-color: #6495ED;
  overflow: hidden;
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
}


.topnav a {
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  margin: auto;
  position: relative;
}


.donate-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: yellow;
  border: 1px solid yellow;
  border-radius: 30px;
  padding: 0 20px;
  margin: 50px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.4s;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}


.topnav a.nav-item:not(.donate-btn)::after {
  content: "";
  position: absolute;
  background-color:  #1B4AB6;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: width 0.5s;
}


.topnav a.nav-item:not(.donate-btn):hover::after {
  width: 100%;
}


.topnav a.nav-item:not(.donate-btn):hover {
  color: #ffffff;
}




.donate-btn:hover {
  transform: scale(1.2);
}


.about-heading{
  font-size: 40px;
  text-align: center;
}


.about-container {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
}


.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  /* align-items: center; */
}


.about-section {
  max-width: 85%;
  margin: 10px;
  padding: 40px;
  align-items: center;
  background-color: beige;
  border: 1px solid beige;
  border-radius: 30px;
  text-align: center;
}


.about-subheading {
  font-size: 30px;
  text-align: center;
}


.about-section > div {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 300px;
}


.staff-img {
  padding: 20px;
}


@media screen and (max-width: 768px) {
  .about-grid {
      grid-template-columns: 1fr;
  }
  .topnav .nav-item {
    display: none;
  }
}


@media screen and (min-width: 768px) {
.hamburger-menu,
.mobile-nav-section {
  display: none;
}
}


.hidden {
display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 305px;
  background-color: #6495ED;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  border: 1px solid #555;
}

li a:hover {
  background-color: #9e90e0;
  color: white;
}
/*Yassa's Css*
/* Boxes */


.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
 .box {
  width: 500px;
  height: 315px;
  background-color: #6495ED;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding:5px;
}
 .box p {
  color: #0c0c0c;
  text-align: center;
  font-size: 23px;
}
H1 {
  text-align: center;
}
 /* Logos */
 #partners-title{
  text-align: center;
  font-size: 30px;
}
#logo-img{
  border-radius: 50%;
}
 .partners-container {
display: flex;
flex-direction: row;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
background-color:#e4e2ed;
}
 .partners-block {
display: flex;
flex-direction: column;
align-items: center;
flex-basis: calc(25% - 20px);
margin: 10px;
}
p{
  text-align: center;
  font-size: x-large;
}
 /* Newsletter */
 form {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 
  label {
    color: black;
  }
 
  .methods{
    display: grid;
    padding: 4rem;
    margin:2rem auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #954DBC;
  }
  #box1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    font-size: 120%;
  }
 
  #box2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
 
  .form-box{
    display:flex;
    flex-direction: row;
    margin: 10px 15px;
  }
 
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    max-width:400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #580586;
    border-radius: 10px;
  }
 
  input[type="button"] {
    padding: 10px 20px;
    background-color: #580586;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }
 
  input[type="button"]:hover {
    background-color: #808080;
  }
 
  input[type="submit"] {
    margin:0.8rem 0.8rem;
    padding:.5rem 0.5rem;
    background-color: #580586;
    color: white;
    border: none;
    border-radius: 5px;
  }
 
  input[type="submit"]:hover {
    background-color: #580586;
    color:#6495ED;
  }
 
  body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(#FFFFFF, #6495ED);
}
.contact-container{
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-container button{
    font-family: 'Times New Roman', Times, serif;
}
.contact-container textarea{
    font-family: 'Times New Roman', Times, serif;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-title {
    font-weight: 600;
    color: #954DBC;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-line{
    border: none;
    width: 80px;
    height: 5px;
    background-color: #954DBC;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width:400px;
    height:50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #1B4AB6;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
}

*:disabled{
    width:400px;
    height:50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: lightgray;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.contact-left textarea{
    height: 140px;
    padding-top:15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #580586;
}
#logo{
    height: 120px;
    display: flex;
    align-items: center;
    margin: 100px 50px;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #FFFFFF;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#954DBC,#6495ED);
}
.contact-left button:hover{
    transform: scale(0.9);
}

.right-container{
    background-color: #FFFFFF;
    height: 600px;
    width: 400px;
    padding-top:15px;
    border-radius: 20px;
    line-height: 2em;
    padding: 6em 2em;
}

#contact{
    display: flex;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Yaneli's CSS*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

#footer-img1 {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

*#footer-img2 {
	width: 200px;
	height: 200px;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1170px;
	margin:auto;
	/* center socials
	 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background:linear-gradient(to right, #000000,#1b4ab6, #6495ed, #954dbc, #FFFF80);
      padding: 70px 0;
    border-top-left-radius: 125px;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
     color: #ffffff;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #24262b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  
  form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    margin-bottom: 50px;
  }
  
  ::placeholder {
    color: #ffffff;
  }
  
  form .far {
    font-size: 18px;
    margin-right: 10px;
  }
  
  form input {
    width: 100%; 
    background: transparent;
    color: #ffffff;
    border: 0;
    outline: none;
  }
  
  form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  
  }
  
  form button .fas {
    font-size: 16px;
    color: #ffffff;
  }
  
  .social-icons .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000000;
    background: #ffffff;
    margin-right: 15px;
    cursor: pointer;
  
  } 
  
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  hr {
    width: 90%;
    border: 0; 
    border-bottom: 1px solid #ffffff;
    margin: 20px auto;
  
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  