
#logo {
    height: 120px;
}

.topnav {
    background-color: #6495ED;
    overflow: hidden;
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
}

.topnav a {
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    margin: auto;
    position: relative;
}

.donate-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 30px;
    padding: 0 20px;
    margin: 50px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.4s;
}

.topnav a.nav-item:not(.donate-btn)::after {
    content: "";
    position: absolute;
    background-color:  #1B4AB6;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: width 0.5s;
}

.topnav a.nav-item:not(.donate-btn):hover::after {
    width: 100%;
}

.topnav a.nav-item:not(.donate-btn):hover {
    color: #ffffff;
}


.donate-btn:hover {
    transform: scale(1.2);
}

.about-heading{
    font-size: 40px;
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.about-section {
    flex: 1; 
    max-width: 45%; 
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-items: center;
    background-color: beige;
    border: 1px solid beige;
    border-radius: 30px;
}

.about-subheading {
    font-size: 30px; 
    text-align: center;
}

.about-section > div {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 300px;
}

.staff-img {
    padding: 20px;
}